extends layouts/main.pug
include mixins/videoBlock.pug

block content
    .videos
        each item in videos
            +videoBlock({
                videoFile : item.fileUrl,
                title : item.title,
                views : item.views,
                id : item.id
            })