extends layouts/main.pug

block content
    .form__container
        form(action=routes.login, method="post")
            input(type="text" placeholder="Full Name", name="name")
            input(type="email", placeholder="Email", name="email")
            input(type="password", placeholder="Password", name="password")
            input(type="password", placeholder="Verify Password", name="password2")
            input(type="submit", value="Join Now")
        include partials/socialLogin.pug
